@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 6px 35px;
    background-color: white;

    .login {
        background-color: #00917C;
        color: lightgrey !important;
        font-weight: 700;
        border-radius: 5px;

        a {
            color: white;
        }
    }
}

body {
    font-family: 'Poppins', Arial, sans-serif;
}
i {
    cursor: pointer;
}

.logo {
    color: #00917C;
    padding-top: 9px;
    font-weight: 900;
    font-size: small;
}

a {
    text-decoration: none;
    display: block;
    color: black;
}


.linkk {
    display: none;
}

ul {
    display: flex;
    transform: translateX(0%);

    .current {
        border-bottom: 2px solid #00917C;
    }

    .login {
        color: white;
    }
}

li {
    list-style-type: none;
    padding: 9px;
    margin-right: 17px;
    font-weight: 700;
    display: inline-block;
    transition: border-bottom 0.5s;
    transition-timing-function: ease-out;
    
    &:hover {
        border-bottom: 2px solid #00917C;
        color: white !important;
    }
}

section {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #00917C;
    padding-top: 6em;
    height: 35rem;
    animation: load 1s;
    animation-timing-function: ease-in-out;
}

* {
    margin: 0;
    padding: 0;
}

form {
    background-color: white;
    height: 31rem;
    width: 33rem;
    padding: 13px 18px;
    margin-left: 2.7rem;

    h1 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    p {
        padding-bottom: 35px;
    }

}

.hero-msg {
    padding-right: 7rem;
    transform: translateY(-150px);
    animation: drop-down 1s forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    opacity: 0;

    h1 {
        color: white;
        font-weight: bold;
        margin-left: 4rem;
        font-size: 1.5rem;
        letter-spacing: 3px;
    }

    p {
        font-weight: 100;
        color: lightgrey;
        padding-top: 2rem;
        margin-left: 4rem;
    }
}

input, textarea {
    display: block;
    padding: 12px;
    width: 30rem;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    color: #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #00917C;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;

    &:hover {
        background-color: white;
        color: #00917C;
        border-radius: 1rem;
        border: 2px solid #00917C;
        box-shadow: 1px 1px 3px 2px #00917C;
    }
}

label {
    color: black;
    margin-bottom: 4px;
}

span {
    cursor: pointer;
    display: none;
   
}

.navbarr {
    transform: translateX(0%);
}

@keyframes drop-down {
    from {
        transform: translateY(-150px);
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes load {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

svg {
    width: 40px;
    height: 30px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 38em) {
    span {
        display: block;
        width: 2rem;
        aspect-ratio: 1;
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 0.8em;
        transform: scale(1.5);
        margin-bottom: 1em;
        z-index: 1000;
    }

    ul {
        position: fixed;
        right: 0;
        top: 0;
        background-color: #ccc;
        border-radius: 5px 0px 0px 5px;
        height: 80vh;
        width: 60%;
        z-index: 999;
        text-transform: uppercase;
        padding-top: 6em;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0.8;
        transform: translateX(100%);
        transition: transform .5s ease-in-out;

        li {
         padding: 0.9em;
         border: none;

             &:hover {
                 border: none;
           }
        }

        .login {
            a {
                background-color: none;
            }
        }

        a {
            display: block;
            color: black;
            padding: 18px;

            &:hover {
                border-bottom: 2px solid #00917C;
            }
            
        }
    }

    section {
        display: block;
        max-width: 100%;
    }

    .hero-msg {
        margin-bottom: 7.5em;
    }

    form {
        margin-top: 4em;
        padding-left: 12px;
        position: absolute;
        left: 0;
        width: 25em;
        border-radius: 5px 0px;
        height: 33rem;
        max-width: 75%;

        input, textarea {
            width: 80%;
            margin-bottom: 1.3em;
        }
    }

    body {
        position: relative;
        overflow-x: hidden;
    }

    .hero-msg {
        text-align: center;
    }

    svg {
        width: 40px;
        height: 30px;
        cursor: pointer;
        display: block;
        position: absolute;
        top: 0;
        right: 1rem;
        z-index: 999;
        padding: 5px;
    }
  }

